[part="description"] {
	font-weight: 500;
	color: whitesmoke;
}

vaadin-login-overlay-wrapper::part(backdrop) {
	background-image: url(https://quanlyvanban.hanoi.gov.vn/qlvbdh/login/img/bg-login.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--lumo-primary-color);
}

vaadin-login-overlay-wrapper::part(brand) {
	background-color: #ffffff;
	padding-bottom: 0;
}

vaadin-login-overlay-wrapper::part(description) {
	display: none;
}

vaadin-login-form-wrapper::part(footer){
	margin: auto;
}

section::part(form) {
	padding-top: 0;
}

.container{
	width:100%;
	height: 100%;
	justify-content: center;
    display: flex;
    align-items: center;
    gap: 25px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
  margin: auto 0;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}
